*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/app/google-services.json
/app/predecentralized/release/mivuelta_PRE_unprotected_1.2.0.apk
/app/schemas/com.main.covid.db.AppDatabase/2.json
/app/santander/release/output.json
/app/predecentralized/release/mivuelta_PRE_protected_1.2.0_20200603.apk
/app/src/decentralized/google-services.json
/app/predecentralized/release/output.json
/app/src/exposure/google-services.json
/app/santander/release/mivuelta_PRE_1.1.1_20200604.apk
/app/predecentralized/release/mivuelta_PRE_protected_1.2.0_20200608.apk
/app/schemas/com.main.covid.db.streetpass.StreetPassRecordDatabase/1.json
/app/predecentralized/release/mivuelta_PRE_protected_1.2.0.apk
/app/predecentralized/release/mivuelta_PRE_unprotected_1.2.0_20200603.apk
/app/schemas/com.main.covid.db.AppDatabase/3.json
/app/santander/release/mivuelta_PRE_1.1.0.apk
/app/predecentralized/release/mivuelta_PRE_protected_1.2.0_20200605.apk
